<div class="d-flex justify-content-between mb-3">
  <h3>
    <a class="d-md-none btn btn-secondary" routerLink="/admin/colaboradores"><i class="fa fa-arrow-left"></i></a>
    Atendimento Consulta
  </h3>
  <div class="d-flex justify-content-between d-none d-none d-md-flex">
    <a class="btn btn-secondary btn-icon-split me-3" routerLink="/admin/colaboradores">
      <span class="icon">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span class="text px-4">
        Voltar
      </span>
    </a>
    <button class="btn btn-primary btn-icon-split" (click)="submit()" aria-label="Gravar Colaborador">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
      <span class="text px-4">
        Encerrar
      </span>
    </button>
  </div>
</div>
<hr />
<form class="m-3" [formGroup]="form" *ngIf="consulta != null">
  <div class="my-3 d-none d-md-flex">
    <nav class="w-100">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link " id="nav-geral-tab" data-bs-toggle="tab" data-bs-target="#nav-geral" type="button"
          role="tab" aria-controls="nav-geral" aria-selected="true">Dados da Consulta</button>
        <button class="nav-link active" id="nav-prontuario-tab" data-bs-toggle="tab" data-bs-target="#nav-prontuario"
          type="button" role="tab" aria-controls="nav-prontuario" aria-selected="false">Prontuario Paciente</button>
        <button class="nav-link" id="nav-receita-tab" data-bs-toggle="tab" data-bs-target="#nav-receita" type="button"
          role="tab" aria-controls="nav-solicitacoes" aria-selected="false">Receita</button>
        <button class="nav-link" id="nav-solicitacoes-tab" data-bs-toggle="tab" data-bs-target="#nav-solicitacoes"
          type="button" role="tab" aria-controls="nav-receita" aria-selected="false">Solicitações</button>
      </div>
    </nav>
  </div>
  <div class="my-3 d-md-none">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-geral-tab" data-bs-toggle="pill" data-bs-target="#nav-geral"
        type="button" role="tab" aria-controls="v-pills-geral" aria-selected="true">Geral</button>
      <button class="nav-link" id="v-pills-prontuario-tab" data-bs-toggle="pill" data-bs-target="#nav-prontuario"
        type="button" role="tab" aria-controls="v-pills-prontuario" aria-selected="false">Prontuario Paciente</button>
      <button class="nav-link" id="v-pills-receita-tab" data-bs-toggle="pill" data-bs-target="#nav-receita"
        type="button" role="tab" aria-controls="v-pills-receita" aria-selected="false">Receita</button>
      <button class="nav-link" id="v-pills-solicitacoes-tab" data-bs-toggle="pill" data-bs-target="#nav-solicitacoes"
        type="button" role="tab" aria-controls="v-pills-solicitacoes" aria-selected="false">Solicitações</button>
    </div>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade " id="nav-geral" role="tabpanel" aria-labelledby="nav-geral-tab" tabindex="0">
      <div class="row mt-3">
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
          <strong>Paciente:</strong> {{consulta.paciente!.nome}}<br />
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
          <strong>Documento:</strong> {{consulta.paciente!.cpf | mask: '000.000.000-00'}}<br />
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
          <strong>Idade:</strong> {{calcularIdade(consulta.paciente!.dataNascimento)}}<br />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
          <strong>Data:</strong> {{ consulta.data | date:'dd/MM/yyyy' }}<br />
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
          <strong>Horário:</strong> {{ consulta.hora }}<br />
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
          <strong>Hospital:</strong> Online
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="form-floating mb-3 border rounded">
            <label for="diagnostico">Diagnóstico</label>
            <textarea class="form-control border-0 text-uppercase" id="diagnostico" formControlName="diagnostico"
              placeholder="diagnostico" style="height: 150px; resize: none; padding-top: 45px;"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="nav-prontuario" role="tabpanel" aria-labelledby="nav-prontuario-tab"
      tabindex="0">
      <h5>Prontuario</h5>
      <div *ngIf="!consulta.paciente!.prontuario">Não existe prontuario para esse paciente</div>
      <div *ngIf="consulta.paciente!.prontuario">
        <div class="row">
          <div class="col-xxl-2 col-xl-3 col-lg-4 mb-3">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-consulta-list" data-bs-toggle="list"
                href="#list-consulta" role="tab" aria-controls="list-consulta">Consultas</a>
              <a class="list-group-item list-group-item-action" id="list-procedimentos-list" data-bs-toggle="list"
                href="#list-procedimentos" role="tab" aria-controls="list-procedimentos">Procedimentos</a>
            </div>
          </div>
          <div class="col-xxl-10 col-xl-3 col-lg-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-consulta" role="tabpanel"
                aria-labelledby="list-consulta-list">
                <div *ngIf="consulta.paciente!.prontuario!.consultas!.length > 0">
                  <h5 class="mb-3">Consultas Anteriores</h5>
                  <div *ngFor="let item of consulta.paciente!.prontuario.consultas">
                    <div class="card shadow-sm h-100">
                      <div class="card-body">
                        <h6 class="card-title">Consulta em {{ item.data | date:'dd/MM/yyyy' }} às {{ item.hora }}</h6>
                        <p *ngIf="item.diagnostico"><b>Diagnóstico:</b> {{ item.diagnostico }}<br />
                          <b>Médico:</b> {{ item.medico?.nome }}
                        </p>
                        <div *ngIf="item.receita!.length > 0">
                          <b>Receita:</b>
                          <ul class="mb-2">
                            <li *ngFor="let r of item.receita">
                              {{ r.medicamento }} - {{ r.quantidade }} - {{ r.periodo }}
                            </li>
                          </ul>
                        </div>
                        <div *ngIf="item.solicitacoes!.length > 0">
                          <b>Solicitações:</b>
                          <ul>
                            <li *ngFor="let s of item.solicitacoes">
                              {{ s.procedimento?.nome }}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="consulta.paciente?.prontuario?.consultas?.length === 0">
                  <p class="text-muted">Nenhuma consulta anterior registrada no prontuário.</p>
                </div>
              </div>
              <div class="tab-pane fade" id="list-procedimentos" role="tabpanel"
                aria-labelledby="list-procedimentos-list">...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-receita" role="tabpanel" aria-labelledby="nav-receita-tab" tabindex="0">
      <div class="row">
        <div class="col mt-3">
          <div class="d-flex justify-content-between">
            <h5>Adicionar Medicamento</h5>
            <button class="btn btn-primary btn-icon-split" (click)="adicionarMedicamento()"
              aria-label="Gravar Colaborador">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
              <span class="text px-4">
                Adicionar
              </span>
            </button>
          </div>
          <div class="form-floating mt-3">
            <input type="text" class="form-control" formControlName="medicamentoAdicionar" placeholder="" />
            <label>Medicamento</label>
          </div>
          <div class="form-floating mt-3">
            <input type="text" class="form-control" formControlName="medicamentoQuantidade" placeholder="" />
            <label>Quantidade</label>
          </div>
          <div class="form-floating mt-3">
            <input type="text" class="form-control" formControlName="medicamentoPeriodo" placeholder="" />
            <label>Periodo</label>
          </div>
        </div>
        <div class="col-xxl-7 mt-3">
          <div class="card">
            <div class="card-body">
              <div>
                <img src="assets/img/LogoAzulSemFundo.png" style="height: 100px;" />&nbsp;<b class="large">SGHSS VIDA
                  PLUS TELE MEDICINA</b>
              </div>
              <div class="mt-3 text-center">
                <h3>Receita do Paciente</h3>
              </div>
              <div class="row mt-5">
                <div class="col text-start">
                  <b>Paciente:</b> {{consulta.paciente!.nome}}<br />
                </div>
                <div class="col text-start">
                  <b>Idade:</b> {{calcularIdade(consulta.paciente!.dataNascimento)}}
                </div>
              </div>
              <div class="mt-3">
                <hr />
                <h5 style="margin-top: -10px;">
                  Medicamentos:
                </h5>
                <div class="mt-3" *ngFor="let medicamento of consulta.receita">
                  <b>Medicamento:</b> {{medicamento.medicamento}}<br />
                  <b>Quantidade:</b> {{medicamento.quantidade}}<br />
                  <b>PERÍODO:</b> TOMAR {{medicamento.periodo}}
                </div>
              </div>
              <div class="px-5 text-center" style="margin-top: 100px;">
                <div class="container px-5">
                  <hr />
                  {{consulta.medico?.nome}}<br />
                  CRM {{consulta.medico?.crm}}
                </div>
              </div>
              <div class="text-end mt-5">
                <span class="small">Emissão: {{agora | date: 'dd/MM/YYYY hh:mm:ss'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-solicitacoes" role="tabpanel" aria-labelledby="nav-solicitacoes-tab"
      tabindex="0">
      <h5>Solicitações</h5>
      <div class="mt-3">
        <table class="table border rounded table-striped align-middle">
          <thead>
            <tr>
              <th>Procedimento</th>
              <th><button class="btn btn-primary btn-icon-split float-end" data-bs-toggle="modal"
                  data-bs-target="#modalProcedimentos" aria-label="Gravar Colaborador">
                  <span class="icon">
                    <i class="fa fa-plus"></i>
                  </span>
                  <span class="text px-4">
                    Adicionar
                  </span>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let solicitacao of consulta.solicitacoes">
              <td>{{solicitacao.procedimento.nome}}</td>
              <td><i class="fa fa-trash text-danger float-end mx-3"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal de procedimentos -->
  <div class="modal fade" id="modalProcedimentos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <h5 class="modal-title">Selecionar Procedimento</h5>
            <small class="text-muted">Selecione os procedimentos e para fechar clique no X ao lado</small>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mt-3 d-none d-none d-md-flex">
            <table class="table border rounded table-striped align-middle">
              <thead>
                <tr class="text-center">
                  <th></th>
                  <th>Procedimento</th>
                  <th>Tempo Estimado de Duração</th>
                  <th>Funcionamento</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngIf="procedimentos.length == 0">
                  <td colspan="4" class="text-center">Nenhum procedimento encontrado
                  </td>
                </tr>
                <tr *ngFor="let procedimento of procedimentos" class="align-items-center">
                  <td>
                    <i class="fa fa-check text-success" (click)="adicionarSolicitacaoProcedimento(procedimento)"
                      role="button"></i>
                  </td>
                  <td>
                    {{procedimento.nome}}
                  </td>
                  <td>
                    {{procedimento.tempoDuracao}} Minutos
                  </td>
                  <td>
                    <table>
                      <ng-container *ngIf="procedimento?.funcionamento">
                        <tr *ngFor="let funcionamento of procedimento.funcionamento">
                          <ng-container *ngIf="funcionamento.horarioInicio">
                            <td class="px-3">{{ funcionamento.diaSemana }}:</td>
                            <td>
                              <span>
                                {{ funcionamento.horarioInicio }} às
                                <span *ngIf="funcionamento.horarioInicioIntervalo">
                                  {{ funcionamento.horarioInicioIntervalo }} |
                                  {{ funcionamento.horarioTerminoIntervalo }} às
                                </span>
                                {{ funcionamento.horarioTermino }}
                              </span>
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-3 d-md-none">
            <div class="card p-3 mb-3" *ngIf="procedimentos.length == 0">Nenhum procedimento encontrado</div>
            <div class="card p-3 mb-3" *ngFor="let procedimento of procedimentos">
              <div class="d-flex justify-content-between mb-1">
                <div>
                  <b>Procedimento: </b>{{procedimento.nome}}<br />
                  <b>Tempo Duração Esperado: </b>{{procedimento.tempoDuracao}} Minutos
                </div>
                <div>

                </div>
              </div>
              <b>Funcionamento:</b>
              <table>
                <ng-container *ngIf="procedimento?.funcionamento">
                  <tr *ngFor="let funcionamento of procedimento.funcionamento">
                    <ng-container *ngIf="funcionamento.horarioInicio">
                      <td>{{ funcionamento.diaSemana }}:</td>
                      <td>
                        <span>
                          {{ funcionamento.horarioInicio }} às
                          <span *ngIf="funcionamento.horarioInicioIntervalo">
                            {{ funcionamento.horarioInicioIntervalo }} |
                            {{ funcionamento.horarioTerminoIntervalo }} às
                          </span>
                          {{ funcionamento.horarioTermino }}
                        </span>
                      </td>
                    </ng-container>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>