<div *ngIf="internamento">
    <div class="d-flex justify-content-between mb-3">
        <h3>
            <a class="d-md-none btn btn-secondary" routerLink="/admin/colaboradores"><i
                    class="fa fa-arrow-left"></i></a>
            Visualizar Internamento
        </h3>
        <div class="d-flex justify-content-between d-none d-none d-md-flex">
            <a class="btn btn-secondary btn-icon-split me-3" (click)="voltar()">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text px-4">
                    Voltar
                </span>
            </a>
            <button *ngIf="userPodeEditar" class="btn btn-primary btn-icon-split" (click)="submit()">
                <span class="icon">
                    <i class="fa fa-check"></i>
                </span>
                <span class="text px-4">
                    Salvar
                </span>
            </button>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="card">
            <div class="card-header">
                <h5>Dados do Paciente</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <b>NOME:</b> {{internamento.paciente!.nome}}
                    </div>
                    <div class="col-lg-3">
                        <b>CPF:</b> {{internamento.paciente!.cpf | mask: '000.000.000-00'}}
                    </div>
                    <div class="col-lg-3">
                        <b>Idade:</b> {{calcularIdade(internamento.paciente!.dataNascimento)}}
                    </div>
                    <div class="col-lg-3">
                        <b>DATA DE NASCIMENTO:</b> {{internamento.paciente!.dataNascimento | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Dados do Leito</h5>
                    <button *ngIf="userPodeEditar" class="btn btn-primary btn-icon-split" (click)="buscarLeitos()" >
                        <span class="icon">
                            <i class="fa fa-pen"></i>
                        </span>
                        <span class="text px-4">
                            Editar
                        </span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <b>Leito:</b> {{internamento.leito?.codigo}}
                    </div>
                    <div class="col-lg-3">
                        <b>Ala:</b> {{internamento.leito?.ala?.nome}}
                    </div>
                    <div class="col-lg-3">
                        <b>Hospital:</b> {{internamento.leito?.hospital?.razaoSocial}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Prescrição</h5>
                    <button *ngIf="userPodePrescrever" class="btn btn-primary btn-icon-split" data-bs-toggle="modal"
                        data-bs-target="#modalPrescricao">
                        <span class="icon">
                            <i class="fa fa-plus"></i>
                        </span>
                        <span class="text px-4">
                            Adicionar
                        </span>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div class="text-center" *ngIf="internamento.prescricao?.length != 0">
                        <h5>
                            Prescrição:
                        </h5>
                    </div>
                    <div class="mt-3" *ngFor="let item of internamento.prescricao">
                        <hr />
                        <div class="d-flex justify-content-between">
                            <div>
                                <b>Procedimento / Medicamento:</b> {{item.processo}}<br />
                            </div>
                            <i class="fa fa-trash text-danger" role="button" (click)="removerPrescricao(item)"></i>
                        </div>
                        <b>Quantidade:</b> {{item.quantidade}}<br />
                        <b>PERÍODO:</b> TOMAR {{item.periodo}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <h5>Prontuario do Paciente</h5>
            </div>
            <div class="card-body">
                <div *ngIf="!internamento.paciente!.prontuario">Não existe prontuario para esse paciente</div>
                <div *ngIf="internamento.paciente!.prontuario">
                    <div class="row">
                        <div class="col-xxl-2 col-xl-3 col-lg-4 mb-3" style="margin-top: 40px;">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-consulta-list"
                                    data-bs-toggle="list" href="#list-consulta" role="tab"
                                    aria-controls="list-consulta">Consultas</a>
                                <a class="list-group-item list-group-item-action" id="list-procedimentos-list"
                                    data-bs-toggle="list" href="#list-procedimentos" role="tab"
                                    aria-controls="list-procedimentos">Procedimentos</a>
                                <a class="list-group-item list-group-item-action" id="list-internamentos-list"
                                    data-bs-toggle="list" href="#list-internamentos" role="tab"
                                    aria-controls="list-internamentos">Internamentos</a>
                            </div>
                        </div>
                        <div class="col-xxl-10 col-xl-3 col-lg-8">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-consulta" role="tabpanel"
                                    aria-labelledby="list-consulta-list">
                                    <div *ngIf="internamento.paciente!.prontuario!.consultas!.length > 0">
                                        <div class="d-flex justify-content-center">
                                            <h5 class="mb-3">Consultas</h5>
                                        </div>
                                        <div *ngFor="let item of internamento.paciente!.prontuario.consultas">
                                            <div class="card shadow-sm h-100">
                                                <div class="card-body">
                                                    <h5 class="card-title">Consulta em {{ item.data | date:'dd/MM/yyyy'
                                                        }} às
                                                        {{item.hora }}</h5>
                                                    <p *ngIf="item.diagnostico"><b>Diagnóstico:</b> {{
                                                        item.diagnostico}} <br />
                                                        <b>Médico:</b> {{ item.medico?.nome }}
                                                        <br />
                                                        <b>CRA:</b> {{ item.medico?.crm }}
                                                    </p>
                                                    <div *ngIf="item.receita!.length > 0">
                                                        <b>Receita:</b>
                                                        <ul class="mb-2">
                                                            <li *ngFor="let r of item.receita">
                                                                {{ r.medicamento }} - {{ r.quantidade }} - {{ r.periodo
                                                                }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div *ngIf="item.solicitacoes!.length > 0">
                                                        <b>Solicitações:</b>
                                                        <ul>
                                                            <li *ngFor="let s of item.solicitacoes">
                                                                {{ s.procedimento?.nome }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="internamento.paciente?.prontuario?.consultas?.length === 0">
                                        <p class="text-muted">Nenhuma consulta anterior registrada no prontuário.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="list-procedimentos" role="tabpanel"
                                    aria-labelledby="list-procedimentos-list">
                                    <div class="d-flex justify-content-center">
                                        <h5 class="mb-3">Procedimentos</h5>
                                    </div>
                                    <div *ngFor="let item of internamento.paciente!.prontuario.procedimentos">
                                        <div class="card shadow-sm h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">Procedimento: {{item.procedimento.nome }}</h5>
                                                <p>
                                                    <b>Data:</b> {{item.data | date: 'dd/MM/yyyy hh:mm'}}<br />
                                                    <b>Status:</b> {{item.status}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="list-internamentos" role="tabpanel"
                                    aria-labelledby="list-internamentos-list">
                                    <div class="d-flex justify-content-center">
                                        <h5 class="mb-3">Internamentos</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="!internamento.paciente?.prontuario">
                Nenhum prontuário encontrado!
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalPrescricao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Prescrição</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <form [formGroup]="form">
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="medicamentoAdicionar"
                                        [class.is-invalid]="form.get('medicamentoAdicionar')?.invalid && form.get('medicamentoAdicionar')?.touched"
                                        placeholder="" />
                                    <label>Procedimento / Medicamento</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="medicamentoQuantidade"
                                        [class.is-invalid]="form.get('medicamentoQuantidade')?.invalid && form.get('medicamentoQuantidade')?.touched"
                                        placeholder="" />
                                    <label>Quantidade</label>
                                </div>
                                <div class="form-floating mt-3">
                                    <input type="text" class="form-control" formControlName="medicamentoPeriodo"
                                        [class.is-invalid]="form.get('medicamentoPeriodo')?.invalid && form.get('medicamentoPeriodo')?.touched"
                                        placeholder="" />
                                    <label>Periodo</label>
                                </div>
                            </form>
                            <div class="d-flex justify-content-end mt-3">
                                <button class="btn btn-primary btn-icon-split" (click)="adicionarPrescricao()"
                                    aria-label="Gravar Colaborador">
                                    <span class="icon">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                    <span class="text px-4">
                                        Adicionar
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="col-xxl-7 mt-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5>
                                            Prescrição:
                                        </h5>
                                    </div>
                                    <div class="mt-3" *ngFor="let item of internamento.prescricao">
                                        <hr />
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <b>Procedimento / Medicamento:</b> {{item.processo}}<br />
                                            </div>
                                            <i class="fa fa-trash text-danger" role="button"
                                                (click)="removerPrescricao(item)"></i>
                                        </div>
                                        <b>Quantidade:</b> {{item.quantidade}}<br />
                                        <b>PERÍODO:</b> TOMAR {{item.periodo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalLeitos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Selecione o Medicamento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mt-3 d-flex justify-content-end">
                        <input type="text" class="form-control mb-3 float-end" placeholder="Buscar"
                            [(ngModel)]="textoFiltroLeito" style="max-width: 400px;"
                            (ngModelChange)="filtrarLeitos()" />
                    </div>
                    <div class="mt-3">
                        <table class="table border rounded table-striped align-middle">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Código</th>
                                    <th>Ala</th>
                                    <th>Hospital</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr *ngFor="let leito of leitosPaginados">
                                    <td>
                                        <i class="fa fa-check text-success" (click)="selecionarLeito(leito)"
                                            role="button"></i>
                                    </td>
                                    <td>{{leito.codigo}}</td>
                                    <td>{{ leito.ala!.nome }}</td>
                                    <td>{{ leito.hospital!.razaoSocial }}</td>
                                    <td>{{ leito.status }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <app-paginacao class="float-end" [totalItems]="leitosFiltrados.length"
                        [itemsPerPage]="leitosPorPagina" [currentPage]="paginaAtualLeitos"
                        (pageChange)="onPaginaAlteradaLeito($event)"></app-paginacao>
                </div>
            </div>
        </div>
    </div>
</div>