<router-outlet></router-outlet>
<div *ngIf="!rotaFilhaAtiva">
    <div class="d-flex justify-content-between">
        <h3>Internamentos</h3>
        <div class="d-flex justify-content-between">
            <a *ngIf="userPodeIncluir" class="btn btn-primary btn-icon-split" routerLink="/admin/internamentos/incluir">
                <span class="icon">
                    <i class="fa fa-plus"></i>
                </span>
                <span class="text px-4">
                    Incluir
                </span>
            </a>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-between">
        <div>
            Exibindo <select [(ngModel)]="itensPorPagina" (ngModelChange)="filtrarLista()">
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> itens por página
        </div>
        <input type="text" class="form-control mb-3 float-end" placeholder="Buscar" [(ngModel)]="textoFiltro"
            style="max-width: 400px;" (ngModelChange)="filtrarLista()" />
    </div>
    <div class="mt-3 d-none d-none d-md-flex">
        <table class="table border rounded table-striped align-middle">
            <thead>
                <tr>
                    <th></th>
                    <th>Leito</th>
                    <th>Paciente</th>
                    <th>Hospital</th>
                    <th>Ala</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let item of dadosPaginados">
                    <td>
                        <i class="fa fa-eye" role="button"></i>
                    </td>
                    <td>{{ item.leito?.codigo }}</td>
                    <td>{{item.paciente?.nome}}</td>
                    <td>{{ item.leito?.hospital?.razaoSocial }}</td>
                    <td>{{ item.leito?.ala?.nome }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="mt-3 d-md-none">
        <div class="card p-3 mb-3" *ngFor="let leito of dadosPaginados">
            <div class="d-flex justify-content-between mb-1">
                <div>
                    <label><b>Código:</b> {{leito.codigo}}</label><br />
                    <label><b>Ala:</b> {{leito.ala!.nome}}</label>
                </div>
                <div>
                    
                </div>
            </div>
            <label><b>Hospital:</b> {{leito.hospital!.razaoSocial}}</label>
            <label><b>Status:</b> {{leito.status}}</label>
        </div>
    </div> -->
    <app-paginacao class="float-end" [totalItems]="dadosFiltrados.length" [itemsPerPage]="itensPorPagina"
        [currentPage]="paginaAtual" (pageChange)="onPaginaAlterada($event)"></app-paginacao>
</div>