<router-outlet></router-outlet>
<div *ngIf="!rotaFilhaAtiva">
  <div class="d-flex justify-content-between">
    <h3>Cargos</h3>
    <div class="d-flex justify-content-between">
      <a *ngIf="userPodeIncluir" class="btn btn-primary btn-icon-split" routerLink="/admin/cargos/incluir">
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span class="text px-4">
          Incluir
        </span>
      </a>
    </div>
  </div>
  <div class="mt-3 d-none d-none d-md-flex">
    <table class="table border rounded table-striped align-middle">
      <thead>
        <tr>
          <th></th>
          <th>Cargo</th>
          <th>Descrição de Função</th>
          <th>Escolaridade</th>
          <th>Salario Base</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let cargo of cargos">
          <td>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu border-dark" aria-labelledby="dropdownMenuButton">
                <li>
                  <a class="dropdown-item mb-1" style="cursor: pointer;" title="Visualizar"
                    (click)="visualizar(cargo.id!)">
                    <i class="fas fa-eye"></i>&nbsp;Visualizar
                  </a>
                </li>
                <li *ngIf="userPodeEditar">
                  <a class="dropdown-item mb-1" style="cursor: pointer;" title="Visualizar" (click)="editar(cargo.id!)">
                    <i class="fas fa-pen"></i>&nbsp;Editar
                  </a>
                </li>
                <li *ngIf="userPodeExcluir">
                  <a class="dropdown-item mb-1" style="cursor: pointer;" (click)="excluir(cargo)">
                    <i class="fas fa-trash"></i>&nbsp;Excluir
                  </a>
                </li>
              </ul>
            </div>
          </td>
          <td>{{cargo.cargo}}</td>
          <td>{{ cargo.descricaoDeFuncao }}</td>
          <td>{{cargo.escolaridade}}</td>
          <td style="min-width: 150px;">R$ {{ cargo.salarioBase | mask: 'separator.2': { thousandSeparator: '.', decimalMarker: ',', leadZero: true } }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-3 d-md-none">
    <div class="card p-3 mb-3" *ngFor="let cargo of cargos">
      <div class="d-flex justify-content-between mb-1">
        <div>
          <label><b>Cargo:</b> {{cargo.cargo}}</label><br />
          <label><b>Salário Base:</b> {{cargo.salarioBase}}</label>
          <label><b>Escolaridade:</b> {{cargo.escolaridade}}</label>
        </div>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu border-dark" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item mb-1" style="cursor: pointer;" title="Visualizar" (click)="visualizar(cargo.id!)">
                <i class="fas fa-eye"></i>&nbsp;Visualizar
              </a>
            </li>
            <li *ngIf="userPodeEditar">
              <a class="dropdown-item mb-1" style="cursor: pointer;" title="Visualizar" (click)="editar(cargo.id!)">
                <i class="fas fa-pen"></i>&nbsp;Editar
              </a>
            </li>
            <li *ngIf="userPodeExcluir">
              <a class="dropdown-item mb-1" style="cursor: pointer;" (click)="excluir(cargo)">
                <i class="fas fa-trash"></i>&nbsp;Excluir
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <label><b>Descrição do Cargo:</b> {{cargo.descricaoDeFuncao}}</label><br/> -->
    </div>
  </div>
