<div class="bg-primary">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <div class="mb-4">
        <div class="d-flex justify-content-center px-5 py-3 d-md-none">
          <img src="assets/img/logobrancasemfundo.png" style="width: 80vw;">
        </div>
        <div class="d-flex justify-content-center px-5 pt-3 pb-2 d-none d-md-flex">
          <img src="assets/img/logobrancasemfundo.png" style="height: 10vh;">
        </div>
        <div class="d-flex justify-content-center py-5 px-3">
          <div class="col-lg-8 col-12 card shadow border-0 rounded-lg text-center py-3">
            <h3>Criar uma conta</h3>
            <p class="small text-secondary">É Rapido, é fácil, é Vida Plus</p>
            <hr />
            <form class="px-3 text-start" [formGroup]="cadastroForm">
              <h5 class="mb-3">Dados Gerais</h5>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control text-uppercase" id="nome" formControlName="nome"
                      placeholder=""
                      [class.is-invalid]="cadastroForm.get('nome')?.invalid && cadastroForm.get('nome')?.touched" />
                    <label for="nome" class="label-required">Nome</label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="dataNascimento" placeholder=""
                      formControlName="dataNascimento"
                      [class.is-invalid]="cadastroForm.get('dataNascimento')?.invalid && cadastroForm.get('dataNascimento')?.touched">
                    <label for="dataNascimento" class="label-required">Data de Nascimento</label>
                  </div>
                  <div *ngIf="cadastroForm.get('dataNascimento')?.errors?.['required'] && cadastroForm.get('dataNascimento')?.touched" class="invalid-feedback">
                    informe a data de nascimento!
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="cpf" formControlName="cpf" (blur)="validaCPF()"
                      [class.is-invalid]="cadastroForm.get('cpf')?.invalid && cadastroForm.get('cpf')?.touched"
                      mask="CPF_CNPJ" maxlength="14" />
                    <label for="dataNascimento" class="label-required">CPF</label>
                    <div *ngIf="cadastroForm.get('cpf')?.errors?.['invalidCpf']" class="invalid-feedback">
                      CPF inválido
                    </div>

                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="identidade" placeholder="" formControlName="identidade">
                    <label for="identidade">RG</label>
                  </div>
                </div>
              </div>
              <hr />
              <h5>Endereço</h5>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="enderecoCep" placeholder=""
                      formControlName="enderecoCep" (blur)="buscarCEP()">
                    <label for="enderecoCep">CEP</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="enderecoLogradouro" placeholder=""
                      formControlName="enderecoLogradouro"
                      [class.is-invalid]="cadastroForm.get('enderecoLogradouro')?.invalid && cadastroForm.get('enderecoLogradouro')?.touched">
                    <label for="enderecoLogradouro" class="label-required">Logradouro</label>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="enderecoNumero" placeholder=""
                      formControlName="enderecoNumero"
                      [class.is-invalid]="cadastroForm.get('enderecoNumero')?.invalid && cadastroForm.get('enderecoNumero')?.touched">
                    <label for="enderecoNumero" class="label-required">Número</label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="enderecoComplemento" placeholder=""
                      formControlName="enderecoComplemento">
                    <label for="enderecoComplemento">Complemento</label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="enderecoBairro" placeholder=""
                      formControlName="enderecoBairro"
                      [class.is-invalid]="cadastroForm.get('enderecoBairro')?.invalid && cadastroForm.get('enderecoBairro')?.touched">
                    <label for="enderecoBairro" class="label-required">Bairro</label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <select class="form-select" formControlName="enderecoUF" (input)="buscarMunicipios($event)"
                    [class.is-invalid]="cadastroForm.get('enderecoUF')?.invalid && cadastroForm.get('enderecoUF')?.touched">
                      <option value="" disabled selected></option>
                      <option *ngFor="let estado of estados" [value]="estado.sigla">{{estado.nome}}</option>
                    </select>
                    <label for="enderecoBairro" class="label-required">Estado</label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <select class="form-select" formControlName="enderecoMunicipio" (input)="buscarMunicipios($event)"
                      [disabled]="!isEstadoSelect"
                      [class.is-invalid]="cadastroForm.get('enderecoMunicipio')?.invalid && cadastroForm.get('enderecoMunicipio')?.touched">
                      <option value="" disabled selected></option>
                      <option *ngFor="let municipio of municipios" [value]="municipio.nome">{{municipio.nome}}</option>
                    </select>
                    <label for="enderecoMunicipio" class="label-required">Municipio</label>
                  </div>
                </div>
              </div>

              <hr />
              <h5>Contato</h5>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="" formControlName="email"
                    [class.is-invalid]="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched">
                    <label for="email" class="label-required">Email</label>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="telefone1" placeholder="" formControlName="telefone1" prefix="+55" mask=" (00) 0 0000-0000"
                    [class.is-invalid]="cadastroForm.get('telefone1')?.invalid && cadastroForm.get('telefone1')?.touched">
                    <label for="telefone1" class="label-required">Telefone</label>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="telefone2" placeholder="" formControlName="telefone2">
                    <label for="telefone2">Telefone</label>
                  </div>
                </div>
              </div>
              <hr />
              <h5>Senha de Acesso</h5>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-floating mb-5">
                    <input type="password" class="form-control" id="senha" placeholder="" formControlName="senha"
                    [class.is-invalid]="cadastroForm.get('senha')?.invalid && cadastroForm.get('senha')?.touched">
                    <label for="senha" class="label-required">Senha</label>
                    <div *ngIf="cadastroForm.get('senha')?.errors?.['required'] && cadastroForm.get('senha')?.touched" class="invalid-feedback">
                      A senha é obrigatória.
                    </div>
                    
                    <div *ngIf="cadastroForm.get('senha')?.errors?.['minlength'] && cadastroForm.get('senha')?.touched" class="invalid-feedback">
                      A senha deve ter no mínimo 8 caracteres.
                    </div>
                    
                    <div *ngIf="cadastroForm.get('senha')?.errors?.['pattern'] && cadastroForm.get('senha')?.touched && !cadastroForm.get('senha')?.errors?.['minlength']" class="invalid-feedback">
                      A senha deve conter letra maiúscula, minúscula, número e símbolo.
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-primary px-5" (click)="submit()" [disabled]="!isEstadoSelect && cadastroForm.invalid">
                  Confirmar
                </button>
              </div>
              <hr class="d-none d-md-flex" />
              <div class="pt-3 d-flex justify-content-center mb-3 d-none d-md-flex">
                <div class="small text-link">
                  <a [routerLink]="['/']">Já possui uma conta? faça login!</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="d-md-none">
        <nav class="navbar navbar-light bg-white border-top fixed-bottom">
          <div class="container-fluid justify-content-around">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
              <i class="fas fa-sign-in-alt"></i><br />
              <small>Entrar</small>
            </a>
            <button class="nav-link"><i class="fas fa-user-plus"></i><br /><small>Registrar</small></button>
            <a class="nav-link" href="#"><i class="fas fa-question-circle"></i><br /><small>Ajuda</small></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>