<router-outlet></router-outlet>
<div *ngIf="!rotaFilhaAtiva">
  <div class="d-flex justify-content-between">
    <h3>Turnos</h3>
    <div class="d-flex justify-content-between">
      <a class="btn btn-primary btn-icon-split" routerLink="/admin/turnos/incluir">
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span class="text px-4">
          Incluir
        </span>
      </a>
    </div>
  </div>
  <div class="mt-3 d-flex justify-content-end">
    <input type="text" class="form-control mb-3 float-end" placeholder="Buscar" [(ngModel)]="textoFiltro" style="max-width: 400px;"
      (ngModelChange)="filtrarLista()" />
  </div>
  <div class="d-none d-md-flex">
    <table class="table border rounded table-striped align-middle">
      <thead>
        <tr>
          <th></th>
          <th>Data</th>
          <th>Colaborador</th>
          <th>CargaHoraria</th>
          <th>Inicio</th>
          <th>Intervalo</th>
          <th>Termino</th>
          <th>Hospital</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let turno of turnosPaginados" class="align-items-center">
          <td>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu border-dark" aria-labelledby="dropdownMenuButton">
                <li>
                  <a class="dropdown-item mb-1" style="cursor: pointer;" title="Visualizar" (click)="visualizar(turno)">
                    <i class="fas fa-eye"></i>&nbsp;Visualizar
                  </a>
                </li>
                <li>
                  <a class="dropdown-item mb-1" style="cursor: pointer;" title="Visualizar" (click)="copiar(turno)">
                    <i class="fas fa-clone"></i> &nbsp;Copiar Turno do mês
                  </a>
                </li>
                <li>
                  <a class="dropdown-item mb-1" style="cursor: pointer;" (click)="excluir(turno)">
                    <i class="fas fa-trash"></i>&nbsp;Excluir
                  </a>
                </li>
              </ul>
            </div>
          </td>
          <td>{{turno.data | date:'dd/MM/yyyy'}}</td>
          <td>{{turno.colaborador?.nome}}</td>
          <td>{{ calcularCargaHoraria(turno) }}</td>
          <td>{{ turno.horarioInicio}}</td>
          <td>{{ turno.horarioInicioIntervalo}} - {{turno.horarioTerminoIntervalo}}</td>
          <td>{{turno.horarioTermino}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-3 d-md-none">
    <div class="card p-3 mb-3" *ngFor="let turno of turnosPaginados">
      <div class="d-flex justify-content-end mb-1">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu border-dark" aria-labelledby="dropdownMenuButton">
            <li>
              <a class="dropdown-item mb-1" style="cursor: pointer;" title="Visualizar" (click)="visualizar(turno)">
                <i class="fas fa-eye"></i>&nbsp;Visualizar
              </a>
            </li>
            <li>
              <a class="dropdown-item mb-1" style="cursor: pointer;" title="Visualizar" (click)="copiar(turno)">
                <i class="fas fa-clone"></i> &nbsp;Copiar Turno do mês
              </a>
            </li>
            <li>
              <a class="dropdown-item mb-1" style="cursor: pointer;" (click)="excluir(turno)">
                <i class="fas fa-trash"></i>&nbsp;Excluir
              </a>
            </li>
          </ul>
        </div>
      </div>
      <label><b>Data:</b> {{turno.data | date:'dd/MM/yyyy'}}</label>
      <label><b>Colaborador:</b> {{turno.colaborador?.nome}}</label>
      <label><b>CargaHoraria:</b> {{ calcularCargaHoraria(turno) }}</label>
      <label><b>Inicio:</b> {{turno.horarioInicio}}</label>
      <label><b>Intervalo:</b> {{turno.horarioInicioIntervalo}} - {{turno.horarioTerminoIntervalo}}</label>
      <label><b>Termino:</b>{{turno.horarioTermino}}</label>
      <label><b>Hospital:</b></label>
    </div>
  </div>
  <app-paginacao class="float-end" [totalItems]="turnos.length" [itemsPerPage]="itensPorPagina"
    [currentPage]="paginaAtual" (pageChange)="onPaginaAlterada($event)"></app-paginacao>
</div>
